django>=5.0.1,<6.0.0 # 5.0.1 이상 6.0.0 미만 Framework
djangorestframework>=3.14.0,<4.0.0 # DRF : For REST API
psycopg2>=2.9.9,<3.0 # Psycopg2 : For PostgreSQL, connector
drf-spectacular>=0.27.2,<0.28.0 # DFR-Spectacular : For API Documentation
uwsgi>=2.0.24,<2.1.0 # UWSGI : For Web Server
djangorestframework-simplejwt>=5.2.2 # DRF-SimpleJWT : For JWT
channels>=4.1.0,<4.2.0 # Channels : For Websocket
daphne>=4.1.2,<4.2.0 # Daphne : For Websocket
channels-redis>=4.2.0,<4.3.0 # Channels-Redis : For Connection between Channels and Redis
